
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&family=Reenie+Beanie&display=swap');


body {
    margin-top: 0;
    height: 100vh;
    background-image: url(https://img.freepik.com/foto-gratis/fondo-textura-papel-espacio-diseno_53876-147801.jpg?t=st=1731506888~exp=1731510488~hmac=7e450e1518882ca7434754996073f58ba17e5bcc3433603e55246b6a037a90b7&w=2000);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    margin-top: 250px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

button {
    background-color: transparent;
    border: none;
}

ul {
    padding: 0;
    margin-bottom: 0;
}

ul li {
    list-style: none;
    padding: 5px;
}

li {
    font-family: "Indie Flower", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
}

input {
    width: 600px;
    background: transparent;
    border-radius: 50px;
}

.center_holder {
    text-align: center;
}